.container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-img-top {
    width: 150px;
    height: 200px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    z-index: 0;
  }

  .card{
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background-color: #fff;
    min-width: 640px;
  }

  @media (max-width: 600px) {
    .card {
      width: 100%;
      min-width: 300px;
    }

    .imagen{
      justify-content: center;
      align-items: center;
      margin-left: 25%;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }


  .coursebuttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
  
  .perfil-button {
    margin-top: 10px;
    display: block;
    background-color: #21dc09;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start; /* Cambio esta línea */
  }
  
  .seguir-button {
    margin-bottom: 10px;
    background-color: #0c71e4;
    border: 0;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end; /* Cambio esta línea */
  }
  
  
  
  .perfil-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }


  
  .seguir-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
 
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Opcional: ajusta el margen superior según sea necesario */
  margin-right: 2rem;
}
