<div class="container">
    <div class="row">
      <div class="col-md-6 mb-4" *ngFor="let seguido of seguidos | paginate: { itemsPerPage: 8, currentPage: page }">
        <div class="card" id="{{ seguido.id }}" >
          <div class="row g-0">
            <div class="imagen col-md-2" >
            <img [src]="seguido.imgUrl ? 'https://localhost:44318/' + seguido.imgUrl : 'https://localhost:44318/uploads/user.png'" class="card-img-top float-start" style="background-color: #f6f6f6; padding:1.5rem;object-fit: cover;width: 170px; height: 200px; justify-content: center; align-items: center;" alt="Tu Foto">            
          
            </div>
            <div class="col-md-1" style="min-width: 300px;">
              <div class="" style="margin-left: 6rem; margin-top: 1.5rem;">
                <h4 class="">{{ seguido.nombre }}</h4>                
                <p class="card-text">{{ seguido.categoria }}</p>
                <p class="card-text">{{ seguido.direccion }}</p>
                <a class="card-text" href="{{seguido.web}}">{{ seguido.web }}</a>
                  <!-- <a href="role==='Empresa' ? '/Beneficiario/{{seguido.id}}' : '/Empresa/{{seguido.id}}'" class="btn btn-primary mt-2">Más info...</a>
                  <a class="btn btn-success" 
                    (click)="dejarSeguir(seguido.id)">
                        Dejar de seguir
                  </a>          -->              
              </div>            
            </div>
            <div class="col-md-2" style="min-width: 200px; margin-top: 0.5rem;">
              <div class="card-body">
                <button class="perfil-button" (click)="enviarSeguido(seguido.id)" >Ver perfil</button>
                <button class="seguir-button"  style="margin-top: 4rem;"
                (click)="dejarSeguir(seguido.id)">
                Dejar de seguir
                </button>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
<div class="pagination-container">
  <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>

