<div class="container">
  <app-explorar></app-explorar>
<div class="results">
  <div class="card-row">
    <div class="card-wrapper" *ngFor="let recurso of recursosFiltro">
      <div class="card mb-3">
        <img [src]="recurso.imgUrl ? 'https://localhost:44318/' + recurso.imgUrl : 'assets/defaultRN.png'">
        <h3>{{recurso.nombre}}</h3>
        <p>Cantidad: {{recurso.cantidad}}</p>
        <p>Precio unitario: {{recurso.precio}} €</p>
        <p class="mb-3">Método entrega: {{recurso.metodoEntrega}}</p>
        <p class="mb-3" style="font-weight: bold;">Publicado hace {{tiempo(recurso.fechaCreacionRecurso)}}</p>
        <a class="card-button" (click)="recursoSolicitado(recurso) ? null : solicitarRecurso(recurso.id) "
        [ngClass]="{'boton-solicitado': recursoSolicitado(recurso)}"             
         *ngIf="role === 'Beneficiario'">
        {{recursoSolicitado(recurso) ? 'Solicitado' : 'Solicitar'}}</a>
      </div>
    </div>
  </div>
  
  </div>
  </div>
  

