footer {
  position: sticky;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  transition: opacity 0.3s ease-in-out;
}

footer.show {
  opacity: 1;
}

.footer-links {
  color: white;
  justify-content: space-between;
  text-decoration: none;
}

.footer-links a {
  color: white;

}


.footer-links a:hover {
  text-decoration: underline;
}

.contentRedes{
  display: flex;
}

.contentRedes > * {
  margin-right: 10px;
}