<div class="formularioInicio d-flex align-items-center justify-content-center max-width-800">
    <div class="col-lg">
        <div class="card-body">
            <h5 class="titulo"> Regístrate </h5>
            <form [formGroup]="form">
                <div class="radioButtons">
                  <a *ngIf="this.form.get('tipoUsuario')?.untouched && pulsado" style="color: red;">
                    Selecciona un tipo</a>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipoUsuario" id="empresa" value="empresa" formControlName="tipoUsuario" (change)="onTipoUsuarioChange($event)">
                        <label class="form-check-label" for="empresa">
                          Empresa
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipoUsuario" id="beneficiario" value="beneficiario" formControlName="tipoUsuario" (change)="onTipoUsuarioChange($event)">
                        <label class="form-check-label" for="beneficiario">
                          Beneficiario
                        </label>
                      </div>
                </div>
                  <div class="row mb-2">
                    <div class="col-md-4">
                      <div class="form-group form-group-lg mt-2" >                     
                        <input formControlName="nombre" [tooltip]="(this.form.get('contrasenya')?.invalid && pulsado) ? 'Campo requerido' : ''"
                        [class.red-icon]="this.form.get('nombre')?.invalid && pulsado"  type="text" class="form-control" placeholder="Nombre">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-group-lg mt-2">
                          <input formControlName="contrasenya" [class.red-icon]="this.form.get('contrasenya')?.invalid && pulsado" 
                          [tooltip]="(this.form.get('contrasenya')?.invalid && pulsado) ? 'Mínimo 9 caracteres' : ''"  maxlength="16" type="text" class="form-control" placeholder="Contraseña">  
                      </div>
                    </div>
                    <div class="col-md-4">                      
                      <div class="form-group form-group-lg mt-2">
                        <input formControlName="email" [tooltip]="(this.form.get('email')?.invalid && pulsado) ? 'Formato incorrecto' : ''" 
                        [class.red-icon]="this.form.get('email')?.invalid && pulsado" type="text" class="form-control" placeholder="email@gmail.com">
                      </div>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-md-4">
                      <div class="form-group form-group-lg mt-2">
                        <input formControlName="telefono" [tooltip]="(this.form.get('telefono')?.invalid && pulsado) ? 'Debe estar formado por 9 dígitos' : ''"  maxlength="9"  
                        [class.red-icon]="this.form.get('telefono')?.invalid && pulsado" class="form-control" placeholder="Teléfono">  
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-group-lg mt-2">                        
                        <input [tooltip]="(this.form.get('direccion')?.invalid && pulsado) ? 'Campo requerido' : ''" formControlName="direccion"  
                        [class.red-icon]="this.form.get('direccion')?.invalid && pulsado" type="text" class="form-control" placeholder="Dirección">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-group-lg mt-2">
                        <input formControlName="web" [tooltip]="(this.form.get('web')?.invalid && pulsado) ? 'Formato inválido' : ''" type="text" 
                        [class.red-icon]="this.form.get('web')?.invalid && pulsado"  class="form-control" placeholder="https://www.tuweb.com">
                      </div>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-md-4">
                      <div class="form-group form-group-lg mt-2">
                        <input formControlName="cif"[class.red-icon]="this.form.get('cif')?.invalid && pulsado" maxlength="9"
                        [tooltip]="(this.form.get('cif')?.invalid && pulsado) ? 'Campo requerido' : ''" type="text" class="form-control" placeholder="CIF">
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group col mt-2">
                          <input type="file"   class="form-control" id="foto" formControlName="foto" value="" (change)="onFileSelected($event)">
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group text-center mt-2">                                         
                        <select class="btn btn-secondary dropdown-toggle text-left text-end" style="width: 100%;"  [class.red-icon]="this.form.get('categoria')?.invalid && pulsado"  formControlName="categoria" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (change)="onDropdownChange($event)">
                          <option value="" disabled selected>Categoría</option>
                          <option class="dropdown-item" *ngFor="let value of dropdownValues" [value]="value.id">{{ value.name }}</option>
                        </select>
                      </div>     
                    </div>
                   
                  </div>                  
                  <div class="row mb-3">
                    <div class="form-group col mt-2">
                      <textarea type="" class="form-control" [class.red-icon]="this.form.get('descripcion')?.invalid && pulsado" 
                      [tooltip]="(this.form.get('descripcion')?.invalid && pulsado) ? 'Campo requerido' : ''" id="descripcion" placeholder="Descripcion" formControlName="descripcion" ></textarea>
                    </div>
                                   
                  </div>                                
                <div class="d-grid gap-2 mb- mt-2">
                    <button class="seguir-button"  type="submit" (click)="registro()">
                        Regístrame </button>
                </div>
            </form>
        </div>
    </div>
    <div class="overlay" *ngIf="loading && this.form.valid">
      <div class="text-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status"></div>
        <span class="sr-only">Comprobando CIF y correo...</span>
      </div>
    </div>
</div>

