<div class="container">
  <div class="app-explorar-container">
    <app-explorar></app-explorar>
  </div>
  <div class="results">
    <div class="card-row">
      <div class="card-wrapper" *ngFor="let necesidad of necesidadFiltro | paginate: { itemsPerPage: 8, currentPage: page }">
        <div class="card mb-3 card-hover" (mouseenter)="onCardMouseEnter(necesidad.id)" (mouseleave)="onCardMouseLeave()">
          <img [src]="necesidad.imgUrl ? 'https://easydonation.azurewebsites.net/' + necesidad.imgUrl : 'assets/defaultRN.png'">
          <h3>{{necesidad.nombre}}</h3>
          <p>Cantidad: {{necesidad.cantidad}}</p>
          <p>Precio unitario: {{necesidad.precio}} €</p>            
          <p class="mb-3">Método entrega: {{necesidad.metodoEntrega}}</p>    
          <p class="mb-3" style="font-weight: bold;">Publicado hace {{tiempo(necesidad.fechaCreacionNecesita)}}</p>
          <div class="description" *ngIf="hoveredId === necesidad.id">
            {{necesidad.descripcion}}
          </div>
          <a class="card-button" (click)="necesidadSolicitado(necesidad) ? null : solicitarNecesidad(necesidad.id) "
          [ngClass]="{'boton-solicitado': necesidadSolicitado(necesidad)}"             
           *ngIf="role === 'Empresa'">
           {{necesidadSolicitado(necesidad) ? 'Solicitado' : 'Solicitar'}}</a>
        </div>
      </div>
    </div>    
  </div>      
</div>

<div class="pagination-container">
  <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>
