<div class="container">
  <app-explorar></app-explorar>
        <div class="results">
          <div class="row">
            <div class="col-md-6 mb-2" *ngFor="let necesidad of necesidadFiltro">
              <div class="card" id="{{ necesidad.id }}">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h4 class="">{{ necesidad.nombre }}</h4>
                      <p class="card-text">{{ necesidad.cantidad }}</p>
                      <p class="card-text">{{ necesidad.precio }}</p>              
                      <div class="d-flex ">
                        <p class="card-text">{{ necesidad.descripcion }}</p>
                        <button  class="btn btn-success ms-auto" (click)="necesidadSolicitado(necesidad) ? null : solicitarNecesidad(necesidad.id) "
                          [disabled]="necesidadSolicitado(necesidad)" *ngIf="logged && role === 'Empresa'">
                            {{necesidadSolicitado(necesidad) ? 'Solicitado' : 'Solicitar'}}
                          </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
