<div class="container">
  <div class="app-filtro-container">
    <app-filtro ></app-filtro>
  </div>
  <div class="results">
    <div class="row " >
      <div class="col-md-12 mb-4"   *ngFor="let empresa of empresasFiltro | paginate: { itemsPerPage: 5, currentPage: page }">
        <div class="card" id="{{ empresa.id }}" >
          <div class="row g-0">
            <div class="imagen col-md-2" >
            <img [src]="empresa.imgUrl ? 'https://easydonation.azurewebsites.net/' + empresa.imgUrl : 'https://easydonation.azurewebsites.net/uploads/user.png'" class="card-img-top float-start" style="background-color: #f6f6f6; padding:1.5rem;object-fit: cover;width: 170px; height: 200px; justify-content: center; align-items: center;" alt="Tu Foto">            
          
            </div>
            <div class="col-md-1" style="min-width: 350px;">
              <div class="" style="margin-left: 6rem; margin-top: 1.5rem;">
                <h4 class="">{{ empresa.nombre }}</h4>                
                <p class="card-text">{{ empresa.categoria }}</p>
                <p class="card-text">{{ empresa.direccion }}</p>
                <a class="card-text" href="https://{{empresa.web}}" target="_blank">{{ empresa.web }}</a>         
              </div>            
            </div>
            <div class="col-md-2" style="min-width: 200px; margin-top: 0.5rem;">
              <div class="card-body">
                <button (click)="enviarEmpresa(empresa.id)" class="perfil-button" >Ver perfil</button>
                <button *ngIf="logged && role === 'Beneficiario'" class="seguir-button" 
                          (click)="empresaSeguida(empresa) ? dejarSeguir(empresa.id) : seguir(empresa.id)">
                          {{ (empresaSeguida(empresa)) ? 'Dejar de seguir' : 'Seguir' }}
                </button>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination-container">
  <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>








