<div class="container">
<div class="results">
  <div class="card-row">
    <div class="card-wrapper" *ngFor="let recurso of recursos">
      <div class="card mb-3 card-hover" (mouseenter)="onCardMouseEnter(recurso.id)" (mouseleave)="onCardMouseLeave()">
        <img [src]="recurso.imgUrl ? 'https://localhost:44318/' + recurso.imgUrl : 'assets/defaultRN.png'">
        <h3>{{recurso.nombre}}</h3>
        <p>Cantidad: {{recurso.cantidad}}</p>
        <p>Precio unitario: {{recurso.precio}} €</p>
        <p class="">Método entrega: {{recurso.metodoEntrega}}</p>
        <div class="description" *ngIf="hoveredId === recurso.id">
          {{recurso.descripcion}}
        </div>
    
        <a class="card-button"           
          [ngClass]="{'deshabilitado': recurso.estado === 2,
          'otra-clase': recurso.solicitantes === null }" (click)="openModal(recurso.id)">
          {{ recurso.estado === 2 ? 'Donación realizada' : (recurso.solicitantes !== null  ?'Aceptar solicitud' : 'Sin solicitudes')}}
        </a>

        <app-modal *ngIf="isModalOpen" title="Aceptar solicitud" (closeModalEvent)="closeModal()" (confirm)="aceptarRecurso()">
          <p>Elige a la empresa a la que aceptar la solicitud</p>
          <select class="select form-control"  id="categoria" (change)="onDropdownChange($event);">          
            <option class="" *ngFor="let value of solicitantes" [value]="value.id">{{ value.nombre }}</option>
          </select>
        </app-modal>
      </div>
    </div>
  </div>  
  
  </div>
  </div>
  