
<div class="container">
  <app-filtro></app-filtro>
  <div class="results">
    <div class="courses-container" >
      <div class="course" *ngFor="let beneficiario of beneficiariosFiltro | paginate: { itemsPerPage: 4, currentPage: page }">
        <div class="course-preview">
          <img [src]="beneficiario.imgUrl ? 'https://localhost:44318/' + beneficiario.imgUrl : 'https://localhost:44318/uploads/user.png'" class="card-img-top float-start" style="padding:1rem;object-fit: cover;width: 200px; height: 200px;" alt="Tu Foto">            
        </div>
        
        <div class="course-info">
          <h4 class="">{{ beneficiario.nombre }}</h4>
              <span class="d-block" style="margin-top: 5px;">{{ beneficiario.categoria }}</span>
              <span class="d-block" style="margin-top: 5px; margin-bottom: 5px;">{{ beneficiario.direccion }}</span>
              <a class=""  style="margin-top: 5px;" href="{{beneficiario.web}}">   {{ beneficiario.web }} </a>                                    
        </div>
        
        <div class="coursebuttons" >
          <button (click)="enviarBeneficiario(beneficiario.id)"  class="perfil-button" >Ver perfil</button>
          <button  *ngIf="logged && role === 'Empresa'" class="seguir-button"
            (click)="beneficiarioSeguido(beneficiario) ? dejarSeguir(beneficiario.id) : seguir(beneficiario.id)">
            {{ (beneficiarioSeguido(beneficiario)) ? 'Dejar de seguir' : 'Seguir' }}
          </button>   
        </div>            
      </div>        
    </div>
  </div>
</div>
<div class="pagination-container">
  <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>

  
  

  