

.container {
  display: flex;
  background-color: #fff;
}

.results {
  flex-grow: 1;
  display: flex;
  justify-content: center;  
  padding: 10px;
}


  
  body {
    background-image: linear-gradient(45deg, #7175da, #9790F2);
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 700px;    
  }
  
  .course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
  }
  
  .course-preview {
    background-color: #f6f6f6;
    color: #fff;
    max-width: 200px;
    max-height: 250px;
    min-width: 200px;    
  }
  
  
  .course-info {
    padding: 30px;
    
    height: 100%;
    width: 100%;
  }

  .coursebuttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 30px;
    width: 100%;    
  }
  
  .perfil-button {
    margin-top: 10px;
    display: block;
    background-color: #21dc09;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start; /* Cambio esta línea */
  }
  
  .seguir-button {
    margin-bottom: 10px;
    background-color: #0c71e4;
    border: 0;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end; /* Cambio esta línea */
  }
  
  
  
  .perfil-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }


  
  .seguir-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* .btn {
    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
  }  */


  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Opcional: ajusta el margen superior según sea necesario */
    margin-right: 2rem;
  }
  