.navbar {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar-brand, .nav-link {
    color: #383838;
  }
  
  .nav-link:hover {
    color: blue;
  }
  .navbar-nav {
    margin-left: auto;
  }