<div class="formularioInicio">
    <div class="col-lg">
        <div class="card-body">
            <h5 class="titulo"> Inicio sesión </h5>
            <h4 class="registro"> ¿Todavía no tienes cuenta? <a routerLink="/Registro">Regístrate</a></h4>
            <form [formGroup]="form">
                <div class="radioButtons">
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  name="tipoUsuario" id="empresa" value="empresa" formControlName="tipoUsuario" (change)="onTipoUsuarioChange($event)">
                        <label class="form-check-label" for="empresa">
                            Empresa
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  name="tipoUsuario"  id="beneficiario" formControlName="tipoBeneficiario" value="beneficiario" (change)="onTipoUsuarioChange($event)">
                        <label class="form-check-label" for="beneficiario">
                            Beneficiario
                        </label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input formControlName="email" type="text" class="form-control" placeholder="Email">
                </div>
                <div class="input-group mb-3">
                    <input formControlName="contrasenya" maxlength="16" type="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="d-grip gap-2 mb-3">
                    <div class="mb-2"*ngIf="loginError" style="color: red;">{{ loginError }}</div>
                </div>
                <div class="d-grid gap-2 mb-3">
                    <button class="buttonPD" type="submit" (click)="iniciarSesion()">
                      Acceder</button>
                </div>
                <div class="d-grid gap-2">
                    
                    <a  class="olvidada" style="text-align: center;" *ngIf="(this.form.get('tipoUsuario')?.valid || this.form.get('tipoBeneficiario')?.valid) && loginError" (click)="openModal()">
                        ¿Has olvidado la contraseña?
                    </a>
                </div>

                <app-modal *ngIf="isModalOpen" title="Recuperar contraseña" (closeModalEvent)="closeModal()" (confirm)="onModalConfirm()">
                <p>¿Quieres recuperar tu contraseña? Se te enviará un correo a tu cuenta</p>
                </app-modal>
                                
            </form>
        </div>
    </div>
</div>