<div class="perfil">
  <div class="container">
    <div class="profile text-left mb-5" >
      <div class="d-flex align-items-center justify-content-end gap-3" style="margin-bottom: -2rem;">
        <h3>{{beneficiario.nombre}}</h3> 
        <div class="profile-picture mr-2">
          <img [src]="beneficiario.imgUrl ? 'https://easydonation.azurewebsites.net/' + beneficiario.imgUrl : 'https://easydonation.azurewebsites.net/uploads/user.png'" alt="Tu Foto" class="img-fluid rounded-circle">
        </div>
        
      </div>
      
      <div style="display:flex; gap: 2rem; ">
        <div class="form-check">
          <input class="form-check-input" type="radio"  checked style="display: none;" name="tipoUsuario"  id="objeto" value="objeto" >
          <label class="apartados" for="objeto">
              <h5>INFORMACIÓN</h5>
          </label>
        </div>

      </div>    
      <hr>
      <form class="formPerfil rounded p-3" style="background-color: #ffffff;">
        <div class="row mb-3">
          <div class="form-group col">
            <h6>Nombre</h6>
            <label for="nombre" style="color: rgb(101, 100, 100)">{{beneficiario.nombre}}</label>            
          </div>
          <div class="form-group col">
            <h6>Correo de contacto</h6>
            <label for="email" style="color: rgb(101, 100, 100)">{{beneficiario.contacto}}</label>            
          </div>
          <div class="form-group col">
            <h6>Categoría</h6>
            <label for="categoria" style="color: rgb(101, 100, 100)">{{beneficiario.categoria}}</label>   

          </div>
          <div class="form-group col">
            <h6>Teléfono</h6>
            <label for="telefono" style="color: rgb(101, 100, 100)">+34 {{beneficiario.telefono}}</label>            
          </div>
        </div>
        <div class="row mb-3">        
            <div class="form-group col">
              <h6>Dirección</h6>
              <label for="direccion" style="color: rgb(101, 100, 100)">{{beneficiario.direccion}}</label>              
            </div>
            <div class="form-group col">
              <h6>Dirección web</h6>
              <a for="web" href="https://{{beneficiario.web}}" target="_blank"  style="color: rgb(101, 100, 100)">{{beneficiario.web}}</a>            
            </div>
          
        </div>
        <div class="row mb-3">         
          <div class="form-group col">
            <h6>Descripción</h6>
            <label for="descripcion" style="color: rgb(101, 100, 100)">{{beneficiario.descripcion}}</label>            
          </div>
        </div>        
      </form>
  </div>
  <div class="other-content">    
      <div style="display:flex; gap: 2rem; ">
        <div class="form-check">
          <input class="form-check-input" type="radio"  checked style="display: none;" name="tipoUsuario"  id="objeto" value="objeto" >
          <label class="apartados" for="objeto">
            <h5>NECESIDADES</h5>
          </label>
        </div>

      </div>    
      <hr>
      <div class="container2">
        <div class="results">
          <div class="card-row">
            <div class="card-wrapper" *ngFor="let necesidad of necesidades | paginate: { itemsPerPage: 9, currentPage: page }">
              <div class="card mb-3 card-hover" (mouseenter)="onCardMouseEnter(necesidad.id)" (mouseleave)="onCardMouseLeave()">
                <img [src]="necesidad.imgUrl ? 'https://easydonation.azurewebsites.net/' + necesidad.imgUrl : 'assets/defaultRN.png'">
                <h3>{{necesidad.nombre}}</h3>
                <p>Cantidad: {{necesidad.cantidad}}</p>
                <p>Precio unitario: {{necesidad.precio}} €</p>                
                <p class="mb-3" style="font-weight: bold;">Publicado hace {{tiempo(necesidad.fechaCreacionNecesita)}}</p>
                <div class="description" *ngIf="hoveredId === necesidad.id">
                  {{necesidad.descripcion}}
                </div>
                <a class="card-button" (click)="necesidadSolicitado(necesidad) ? null : solicitarNecesidad(necesidad.id) "
                [ngClass]="{'boton-solicitado': necesidadSolicitado(necesidad)}"             
                *ngIf="role === 'Empresa'">
                {{necesidadSolicitado(necesidad) ? 'Solicitado' : 'Solicitar'}}</a>
              </div>
            </div>
          </div>    
        </div>    
      </div>
    
        
    </div>
  </div>
  <div class="pagination-container" *ngIf="necesidades.length>0">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>
</div>