<div class="container">
  <div class="profile text-left mb-5" >
    <div class="d-flex align-items-center justify-content-left gap-3 mb-3">
      <div class="profile-picture mr-2">
        <img src="assets/pantallaInicio.jpg" alt="Tu Foto" class="img-fluid rounded-circle">
      </div>
      <h4 >{{usuario.nombre}}</h4> 
      <a class="editar mb-1" (click)="enableForm()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg> 
      </a>
       
    </div>
    <form class="formPerfil rounded p-3" [formGroup]="form" [style.opacity]="formEnabled ? '1' : '0.5'" style="background-color: #f8f9fa;">
      <div class="row mb-3">
        <div class="form-group col">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre" value="{{usuario.nombre}}">
        </div>
        <div class="form-group col">
          <label for="email">Correo:</label>
          <input type="email" class="form-control" id="apellido" placeholder="Correo" formControlName="email" value="{{usuario.email}}">
        </div>
        <div class="form-group col">
          <label for="password">Contraseña:</label>
          <input type="password" class="form-control" id="password" placeholder="Contraseña" formControlName="contrasenya" value="********">
        </div>
      </div>
      <div class="row mb-3">
          <div class="form-group col">
            <label for="categoria">Categoría:</label>   
            <select class="form-control" id="categoria" (change)="onDropdownChange($event);"   >
              <option class="dropdown-item" *ngFor="let value of dropdownValues" [value]="value.name">{{ value.name }}</option>
            </select>
          </div>
          <div class="form-group col">
            <label for="telefono">Teléfono:</label>
            <input type="text" class="form-control" id="telefono" placeholder="telefono" formControlName="telefono" value="{{usuario.telefono}}">
          </div>
          <div class="form-group col">
            <label for="direccion">Dirección:</label>
            <input type="ext" class="form-control" id="ubi" placeholder="direccion" formControlName="ubi" value="{{usuario.direccion}}">
          </div>
      </div>
      <div class="row mb-3">
        <div class="form-group col">
          <label for="nombre">Web:</label>
          <input type="text" class="form-control" id="web" placeholder="Web" formControlName="web" value="{{usuario.web}}">
        </div>
        <div class="form-group col">
          <label for="descripcion">Descripcion:</label>
          <textarea type="" class="form-control" id="descripcion" placeholder="Descripcion" formControlName="descripcion" value="{{usuario.descripcion}}"></textarea>
        </div>
      </div>
      <button type="submit" *ngIf="formEnabled" class="btn btn-primary mt-2" (click)="usuarioModificado()">Guardar cambios</button>
      <button type="submit" *ngIf="formEnabled" class="btn btn-danger mt-2 float-end" (click)="enableForm()"> Cancelar</button>
      
    </form>
  </div>
  <div class="other-content">
    
    <div style="display:flex; gap: 2rem; ">
      <div class="form-check">
        <input class="form-check-input" type="radio"   style="display: none;" name="tipoUsuario"  id="empresa" value="empresa" >
        <label class="apartados" for="empresa">
          {{ role==='Empresa' ? 'Mis Recursos' : 'Mis Necesidades' }}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio"   style="display: none;" name="tipoUsuario"  id="beneficiario" value="beneficiario" >
        <label class="apartados" for="beneficiario">
          Mis Donaciones
        </label>
      </div>
    </div>
    
    <hr>
  </div>
</div>
