.container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-picture {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden; /* Para que la imagen no se salga del contenedor */
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen ocupe todo el espacio del contenedor */
  }

  .editar{
    cursor: pointer;
  }
  
  input[type="radio"]:checked + label {
    color: black;
  }
  
  input[type="radio"]:not(:checked) + label {
    color: gray;
  }

  .red-icon {
    border-color: #dc3545
  }